body {
	font-size: 1em;
	font-family: helvetica;
}

input, button {
	font-size: inherit;
	font-family: inherit;
}

.form-component {
	/* background-color: lightseagreen; */
	/* padding: 1em; */
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 0.5em;
	/* margin: 1em 0; */
}
.form-item {
	line-height: 2;
	padding: 0 0.5em;
	border: none;
}
.form-label {
	padding-left: 0.5em;
}
.field {
	flex-grow: 1;
	border-radius: 0.5em 0 0 0.5em;
	background-image: url('../img/binoculars.png');
	background-size: auto 1.5em;
	background-repeat: no-repeat;
	background-position: 0.5em center;
	padding-left: 3em;
}
.button {
	background-color: lightsalmon;
	border-radius: 0 0.5em 0.5em 0;
}
.button img {
	height: 1.5em;
	vertical-align: middle;
}