*, *:before, *:after {
  box-sizing: inherit;
}
/* html, body {
  height: 100%;
} */
html {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
