body {
	background-color: lightsalmon;
}

h1 {
	text-align: right;
	color: teal;
}


@media screen and (min-width: 50em) {

	body {
		background-color: tomato;
	}

}


@media screen and (min-width: 40em) {

	body {
		background-color: lightseagreen;
	}

	h1 {
		color: white;
	}
	
}

