:root {
  --accent-col: coral;
  --primary-font: helvetica, arial, sans-serif;
}

body {
  font-family: var(--primary-font);
}

.box {
  background-color: var(--accent-col);
  line-height: 2;
  width: auto;
  height: auto;
  padding: 1em;
  border-width: 0.5em;
  border-style: solid;
  border-color: black;
  /* margin: 1em; */
}
