:root {
  --accent-col: coral;
  --primary-font: helvetica, arial, sans-serif;
}

body {
  font-family: var(--primary-font);
}

.box {
  background-color: var(--accent-col);
  line-height: 2;
  width: auto;
  height: auto;
  padding: 1em;
  border: 0.5em solid black;
  /* border-radius: 1em; */
}
