/* Categories of basic selectors:
- all
- type
- class  <---
- id
*/

body {
  
  color: #333;

  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1.4;
  font-family: helvetica, arial, sans-serif;
  
  font: 1em helvetica, arial, sans-serif;  /* <--- minimum requierd */
  font: bold italic 1em helvetica, arial, sans-serif;
  font: italic bold 1em helvetica, arial, sans-serif;

  background-color: lightgrey;
  background-image: url('../img/plant-bg.jpeg');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;

  letter-spacing: -0.1em;
}

main {
  background-color: rgba(255, 255, 255, 0.5);
}

a {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  color: teal;
}

.section-links {
  color: lightseagreen;
}

.program-name {
  font: bold 2em inherit;
}



.highlight { 
  background-color: lightsalmon;
  text-align: right;
}

.main-heading {
  text-align: center;
  font-weight: normal;  /* normal (400) bold (700)  */
  font-style: italic;
}

.address {
  font-weight: 700;
}